certifi==2017.4.17
chardet==3.0.4
dateinfer==0.2.0
GDAL==1.11.5
html5lib==0.999999999
idna==2.5
json-table-schema==0.2.1
lxml==3.8.0
messytables==0.15.2
numpy==1.13.0
pandas==0.20.2
pybars3==0.9.3
PyMeta3==0.5.1
python-dateutil==2.6.0
python-magic==0.4.13
pytz==2017.2
requests==2.18.1
six==1.10.0
urllib3==1.21.1
virtualenv==15.1.0
webencodings==0.5.1
xlrd==1.0.0
